<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">

        <title>HR Doctor</title>

        <?php 
            echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon2.ico'));
        ?>

        <?php if( !empty($mobile) ):?>
        	<style type="text/css">
	         /**
	         * Example of an initial loading indicator.
	         * It is recommended to keep this as minimal as possible to provide instant feedback
	         * while other resources are still being loaded for the first time
	         */
	        html, body {
	            height: 100%;
	            background-color: #1985D0
	        }

	        #appLoadingIndicator {
	            position: absolute;
	            top: 50%;
	            margin-top: -15px;
	            text-align: center;
	            width: 100%;
	            height: 30px;
	            -webkit-animation-name: appLoadingIndicator;
	            -webkit-animation-duration: 0.5s;
	            -webkit-animation-iteration-count: infinite;
	            -webkit-animation-direction: linear;
	        }

	        #appLoadingIndicator > * {
	            background-color: #FFFFFF;
	            display: inline-block;
	            height: 30px;
	            -webkit-border-radius: 15px;
	            margin: 0 5px;
	            width: 30px;
	            opacity: 0.8;
	        }

	        @-webkit-keyframes appLoadingIndicator{
	            0% {
	                opacity: 0.8
	            }
	            50% {
	                opacity: 0
	            }
	            100% {
	                opacity: 0.8
	            }
	        }
	    </style>
        <?php endif; ?>
        
    </head>
    <body>

    	<?php echo $this->content; ?>
        
    </body>
</html>
